{% extends 'base.html' %} {% block content %} {% load static %}

<div class="text-center">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">Login Form</h2>
      <div class="text-center mb-5">
        {% if error_message %}
        <p class="alert alert-danger">
          <strong>{{ error_message }}</strong>
        </p>
        {% endif %}
      </div>
      <div>
        <form method="POST" action="{% url 'dashboard:login'%}">
          {% csrf_token %}
          <div class="text-center">
            <img
              src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px"
              alt="profile"
            />
          </div>

          <div class="mb-3 row">
            <label for="sername" class="col-sm-2 col-form-label"
              >Username</label
            >
            <input
              type="text"
              class="form-control"
              id="Username"
              aria-describedby="emailHelp"
              placeholder="User Name"
              name="username"
            />
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label"
              >password</label
            >
            <input
              name="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="password"
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary px-5 mb-5 w-100">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
